body{
    background-color: rgb(106, 192, 48);
}
.topSection{
    text-align: center;
}
.header h1{
    font-size:100px;
    font-weight: bold;
}
.drumClick{
    padding: 40px;
    font-size: 30px;
    margin-inline-end: 25px;
    line-height: 20px;
    font-weight: bolder;
    border: 4px solid black;
    border-radius: 20px;
    text-transform: uppercase;
}
/* image section */
.q{
    background-image: url(./image/crash.png);
}
.w{
    background-image: url(./image/kick.png)
}
.e{
    background-image: url(./image/snare.png)
}
.r{
    background-image: url(./image/tom1.png)
}
.t{
    background-image: url(./image/tom2.png)
}
.y{
    background-image: url(./image/tom3.png)
}
.u{
    background-image: url(./image/tom4.png)
}
.Clicked{
    border:5px solid red;
    opacity:0.5;
}